@import "tailwindcss";

.glow {
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 15px rgba(0, 255, 255, 0.3);
}

/* effect-shine */
a.effect-shine:hover {
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 3s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}


.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.prose p {
  margin-bottom: 1.2em;
}

.prose a {
  color:rgb(19, 114, 114);
  font-weight: bold;
}

.prose pre {
  background-color: rgba(28, 110, 169, 0.072); 
  border: 1px solid rgba(28, 99, 169, 0.254); 
  border-radius: 4px;
  padding: 16px; 
  overflow: auto;
  margin-bottom: 1.2em;
}

.prose code {
  font-family: monospace;
  font-size: larger;
  color: rgb(7, 66, 66)
}